body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 5px;
    margin: 20px auto;
    width: 250px;
    background-color: #000;
    padding: 5px;
    border-radius: 10px;
}
.cell {
    width: 80px;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
    border-radius: 5px;
}
.cell:nth-child(odd) { background-color: #ddd; }
.piece {
    cursor: grab;
    user-select: none;
}
#message {
    color: red;
    font-size: 1.5rem;
    line-height: 1.5rem;
    height: 20px;
    margin: 20px 0;
}
.controls {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#rules {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: left;
    font-size: 16px;
    margin: 0 auto;
}
#rules h2 {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
}
#rules h3 {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
}

#rules ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1rem;
}
#rules li {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1rem;
}
.btn-reiniciar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.btn-reiniciar:hover {
    background-color: #45a049;
}
.cols {
    flex-direction: column;
    width: 80px;
    left: 20%;
    height: 260px;
}

.rows {
    width: 260px;
    left: 32%;
    top: 36%
}

.custom-class{
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.custom-class p{
    width: 80px;
}